/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL PAGE */
html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* BODY */
body {
  font-family: Inter, system-ui, Arial, sans-serif;
  background-color: #f3f4f6;
  overflow-x: hidden;
}
